@charset "UTF-8";

body {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0px 15px;
}

.page__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  min-height: 100vh;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.link-btn {
  display: inline-block;
  font-size: 17px;
  font-family: "Georgia";
  color: #292929;
  border-radius: 26px;
  border: 2px solid #f1cdb3;
}

.none {
  display: none;
}

.title {
  font-size: 35px;
  line-height: 1.28;
  color: #545454;
}

.text {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 15px;
}

/* Слайдер */

.slick-slider {
  min-width: 0;
}

/* Слайдер запущен */

/* Слайдер с точками */

/* Ограничивающая оболочка */

/* Лента слайдов */

.slick-track {
  margin: 25px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/* Слайд */

/* Слайд активный (показывается) */

/* Слайд основной */

/* Слайд по центру */

/* Клонированный слайд */

/* Стрелка */

/* Стрелка влево */

/* Стрелка вправо */

/* Стрелка не активная */

/* Точки (булиты) */

/* Активная точка */

/* Элемент точки */

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

.header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  cursor: pointer;
}

.header__logo-title {
  font-size: 32px;
  letter-spacing: 1.7px;
  margin: 0px 0px 9px 0px;
  color: #f1cdb3;
}

.header__logo-subtitle {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 13px;
  letter-spacing: 1.5px;
  color: #fff;
}

.header__nav {
  margin-left: auto;
}

.header.fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 10px 0;
  background-color: #3f3530;
  -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  -webkit-transition: -webkit-transform .3s ease;
  transition: -webkit-transform .3s ease;
  -o-transition: transform .3s ease;
  transition: transform .3s ease;
  transition: transform .3s ease, -webkit-transform .3s ease;
}

.header.out {
  -webkit-transform: translate3d(0, -100%, 0);
          transform: translate3d(0, -100%, 0);
  will-change: transform;
}

.header__nav.active {
  display: block;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav__item {
  position: relative;
  margin: 0px 40px 0px 0px;
}

.nav__item:last-child {
  margin: 0px;
}

.nav__link {
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  color: #fff;
}

.nav__link:hover::after {
  display: block;
  content: '';
  width: 100%;
  height: 3px;
  border-radius: 1.5px;
  margin: 5px 0px 0px 0px;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
  background-color: #f1cdb3;
}

.nav-toggle {
  display: none;
  width: 30px;
  padding: 22px 0;
  font-size: 0;
  color: transparent;
  cursor: pointer;
  border: 0;
  background: none;
  position: absolute;
  top: 14px;
  right: 24px;
  z-index: 1;
}

.nav-toggle__item {
  display: block;
  width: 100%;
  height: 3px;
  background-color: #fff;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  -webkit-transition: background .2s linear;
  -o-transition: background .2s linear;
  transition: background .2s linear;
}

.nav-toggle__item::before,
.nav-toggle__item::after {
  content: '';
  width: 100%;
  height: 3px;
  background-color: #fff;
  position: absolute;
  left: 0;
  z-index: 1;
  -webkit-transition: -webkit-transform .2s linear;
  transition: -webkit-transform .2s linear;
  -o-transition: transform .2s linear;
  transition: transform .2s linear;
  transition: transform .2s linear, -webkit-transform .2s linear;
}

.nav-toggle__item::before {
  top: -8px;
}

.nav-toggle__item::after {
  top: 8px;
}

.nav-toggle:focus {
  outline: 0;
}

.nav-toggle.active .nav-toggle__item {
  background: none;
}

.nav-toggle.active .nav-toggle__item::before {
  -webkit-transform-origin: left top;
      -ms-transform-origin: left top;
          transform-origin: left top;
  -webkit-transform: rotate(45deg) translate3d(0px, -3px, 0);
          transform: rotate(45deg) translate3d(0px, -3px, 0);
}

.nav-toggle.active .nav-toggle__item::after {
  -webkit-transform-origin: left bottom;
      -ms-transform-origin: left bottom;
          transform-origin: left bottom;
  -webkit-transform: rotate(-45deg) translate3d(0px, 3px, 0);
          transform: rotate(-45deg) translate3d(0px, 3px, 0);
}

.intro {
  min-height: 925px;
  position: relative;
  overflow: hidden;
  background: #493a34 url(../img/intro/bg-img.jpg) 0 0/cover no-repeat;
}

.intro::after {
  content: '';
  position: absolute;
  top: 22%;
  left: 49%;
  background: url(../img/intro/dog-header.png) no-repeat;
  width: 100%;
  height: 100%;
}

.intro__inner {
  position: absolute;
  width: 100%;
  top: 0;
  margin: 365px 0px 0px 0px;
}

.intro__desc {
  margin: 0px 0px 39px 0px;
}

.intro__title {
  margin: 0px 0px 28px 0px;
  font-size: 44px;
  letter-spacing: 2.8px;
  line-height: 1.3;
  color: #fff;
}

.intro__text {
  display: inline-block;
  max-width: 470px;
  font-size: 15px;
  line-height: 1.6;
  font-family: "Arial";
  color: #cdcdcd;
}

.intro__btn {
  display: inline-block;
  padding: 17px 43px 18px 43px;
  letter-spacing: 1.1px;
  background-color: #f1cdb3;
}

.intro__btn:hover {
  background-color: #c2a18a;
}

.footer {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  overflow: hidden;
  background: #493a34 url(../img/footer/bg-footer.jpg) 0 0/cover no-repeat;
}

.footer__content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 46px 0px 65px 0px;
}

.footer__content::after {
  content: '';
  width: 300px;
  height: 317px;
  background: url(../img/footer/dog-footer.png) 0 0/100% no-repeat;
  position: absolute;
  top: 29px;
  right: 0;
}

.footer__item {
  margin: 0px 165px 0px 0px;
}

.footer__item:last-child {
  margin: 0;
}

.footer__title {
  margin: 0px 0px 40px 0px;
  font-size: 35px;
  line-height: 1.29;
  letter-spacing: 2.8px;
  color: #ffffff;
}

.footer__list {
  position: relative;
}

.footer__list-item {
  margin: 0px 0px 45px 60px;
}

.footer__list-item:last-child {
  margin: 0px 0px 0px 60px;
}

.footer__list-item::before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  height: 100%;
}

.footer__list-item a {
  font-family: "Times New Roman";
  font-size: 20px;
  color: #f1cdb3;
}

.footer__list-item a:hover {
  text-decoration: underline;
}

.footer__list-item.email::before {
  top: -8px;
  width: 40px;
  background: url(../img/footer/icons/envelope.svg) 0 0/100% no-repeat;
}

.footer__list-item.tel::before {
  top: 54px;
  width: 40px;
  background: url(../img/footer/icons/telephone.svg) 0 0/100% no-repeat;
}

.footer__list-item.map::before {
  left: -7px;
}

.footer__list-item.map-Boston::before {
  top: 0;
  width: 40px;
  background: url(../img/footer/icons/pin.svg) 0 0/100% no-repeat;
}

.footer__list-item.map-London::before {
  top: 70px;
  width: 40px;
  background: url(../img/footer/icons/pin.svg) 0 0/100% no-repeat;
}

.section__about {
  margin: 82px 0px 89px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about__img-wrapper {
  margin-right: 70px;
  position: relative;
  width: 370px;
}

.about__img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.about__desc {
  width: 420px;
}

.about__title {
  margin: 0px 0px 29px 0px;
  line-height: 1.3;
  letter-spacing: 1.8px;
}

.about__text {
  color: #4c4c4c;
  line-height: 1.6;
}

.about__text p {
  margin: 0px 0px 23px 0px;
}

.about__text p:last-child {
  margin: 0px;
}

.pets {
  background: #f6f6f6;
}

.pets__content {
  position: relative;
  text-align: center;
  padding: 78px 0px 68px 0px;
}

.pets__title {
  margin: 0px 0px 66px 0px;
}

.pets__btn {
  margin: 60px 0px 0px 0px;
  padding: 13px 50px 13px 50px;
  background-color: #f1cdb3;
}

.pets__btn:hover {
  background-color: #fddcc4;
}

.pets-slider {
  margin: 0 auto;
  width: 910px;
}

.pets-slider .slider-item {
  margin: 0px 25px;
  width: 270px;
  height: 422px;
  border-radius: 9px;
  background-color: #fafafa;
}

.pets-slider .slider-item:hover {
  -webkit-box-shadow: 0px 0px 20px rgba(97, 97, 97, 0.5);
          box-shadow: 0px 0px 20px rgba(97, 97, 97, 0.5);
  -webkit-transition-duration: 0.5s;
       -o-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.pets-slider .slider-item__img-wrapper {
  height: 270px;
}

.pets-slider .slider-item__img {
  margin: 0 auto;
  display: block;
  max-width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 9px 9px 0 0;
}

.pets-slider .slider-item__heading {
  margin: 0px 0px 20px 0px;
  font-size: 20px;
  color: #545454;
  line-height: 2.25;
  letter-spacing: 1px;
}

.pets-slider .slider-item__btn {
  padding: 10px 40px;
  margin: 0px 0px 35px 0px;
}

.pets-slider .slider-item__btn:hover {
  background-color: #f1cdb3;
}

.pets-slider .slick-arrow {
  position: absolute;
  top: 50%;
  z-index: 10;
}

.slider-arrow {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-color: #f1cdb3;
}

.slider-arrow--left {
  left: 0;
  cursor: pointer;
}

.slider-arrow--left::after {
  content: '';
  display: inline-block;
  margin-top: 21px;
  padding: 3px;
  border: solid black;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(135deg);
      -ms-transform: rotate(135deg);
          transform: rotate(135deg);
}

.slider-arrow--right {
  right: 0;
  cursor: pointer;
}

.slider-arrow--right::after {
  content: '';
  display: inline-block;
  margin-top: 21px;
  padding: 3px;
  border: solid black;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.pets-slider .slick-list {
  overflow: hidden;
  padding: 0px 20px;
  margin: 0px -20px;
}

.pets-slider .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pets-slider .slick-dots li {
  margin: 15px 5px 0px 5px;
}

.pets-slider .slick-dots li button {
  font-size: 0;
  width: 10px;
  height: 10px;
  background-color: #545454;
  border-radius: 50%;
}

.pets-slider .slick-dots li.slick-active button {
  background-color: transparent;
  border: 1px solid #545454;
}

.section-help__wrapper {
  padding: 72px 0px 83px 0px;
  text-align: center;
}

.help__title {
  letter-spacing: 1px;
}

.help__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.help__item {
  position: relative;
  margin: 65px 5px 0px 5px;
  padding: 80px 0px 0px 0px;
  font-size: 20px;
  color: #545454;
  letter-spacing: 1px;
  width: 200px;
}

.help__item::before {
  content: '';
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  width: 60px;
  height: 60px;
  top: 0;
  left: 70px;
}

.help__item--food::before {
  background-image: url(../img/help/icons/cat-food.svg);
}

.help__item--transp::before {
  background-image: url(../img/help/icons/ambulance.svg);
}

.help__item--toys::before {
  background-image: url(../img/help/icons/ball.svg);
}

.help__item--cups::before {
  background-image: url(../img/help/icons/bowl.svg);
}

.help__item--shamp::before {
  background-image: url(../img/help/icons/shampoo.svg);
}

.help__item--vit::before {
  background-image: url(../img/help/icons/pills.svg);
}

.help__item--med::before {
  background-image: url(../img/help/icons/syringe.svg);
}

.help__item--coll::before {
  background-image: url(../img/help/icons/leash.svg);
}

.help__item--area::before {
  background-image: url(../img/help/icons/sleeping.svg);
}

.donation {
  background-color: #f6f6f6;
}

.donation__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 71px 0px 85px 0px;
}

.donation__img-wrapper {
  margin: 0px 53px 0px 19px;
  width: 514px;
  height: 279px;
}

.donation__img {
  margin: 0 auto;
  display: block;
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.donation__description {
  width: 365px;
}

.donation__title {
  padding: 0px 0px 35px 0px;
}

.donation__subtitle {
  padding: 0px 0px 13px 0px;
  font-size: 15px;
  letter-spacing: 1px;
  color: #545454;
}

.donation__card-number {
  display: inline-block;
  margin: 0px 0px 33px 0px;
  padding: 11px 15px 12px 58px;
  border-radius: 9px;
  font-size: 20px;
  font-family: "Times New Roman";
  color: #292929;
  text-align: center;
  background: #f1cdb3 url(../img/donation/icon/credit-card.svg) 14px 50%/24px no-repeat;
}

.donation__card-number:last-child {
  margin: 0;
}

.donation__card-legal {
  font-size: 12px;
  font-family: "Arial";
  color: #b2b2b2;
  font-style: italic;
  line-height: 1.5;
}

@media (max-width: 1024px) {
  .footer__content::after {
    display: none;
  }

  .footer__content {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 992px) {
  .intro {
    background-image: -o-linear-gradient(304deg, #544532, #333);
    background-image: linear-gradient(146deg, #544532, #333);
  }

  .intro::after {
    display: none;
  }

  .intro__inner {
    position: relative;
    margin: 20% 0;
    text-align: center;
  }

  .footer {
    background-image: -o-linear-gradient(304deg, #544532, #333);
    background-image: linear-gradient(146deg, #544532, #333);
  }

  .pets-slider {
    margin: 0;
    width: 100%;
  }

  .donation__content {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .donation__img-wrapper {
    margin: 30px 0px 0px 0px;
  }

  .donation__description {
    width: 495px;
    text-align: center;
  }
}

@media (max-width: 770px) {
  .header__nav {
    display: none;
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #2b2726;
  }

  .nav__list {
    display: block;
    margin: 15px 0px 0px 0px;
  }

  .nav__item {
    margin: 0;
  }

  .nav__link:hover::after {
    margin: 0;
  }

  .nav__link {
    display: block;
    margin: 0;
    padding: 8px 15px;
    font-size: 18px;
  }

  .nav-toggle {
    display: block;
  }

  .footer__item {
    margin: 0px 55px 0px 0px;
  }

  .footer__title {
    font-size: 23px;
  }

  .section__about {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .about__img-wrapper {
    margin: 0;
    width: 200px;
  }

  .about__desc {
    margin: 0px 0px 50px 0px;
  }

  .about__title {
    text-align: center;
  }
}

@media (max-width: 576px) {
  .intro {
    min-height: 812px;
  }

  .intro__inner {
    margin: 50% 0;
  }

  .intro__title {
    font-size: 35px;
  }

  .footer__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .footer__item:last-child {
    margin-left: auto;
    margin-right: auto;
  }

  .footer__item {
    margin-bottom: 60px;
    margin-left: auto;
    margin-right: auto;
  }

  .footer__item:last-child {
    margin-bottom: 0;
  }

  .footer__title {
    text-align: center;
  }

  .footer__list-item.map::before {
    display: none;
  }

  .footer__list-item.map {
    margin: 0px 0px 45px 0px;
    text-align: center;
  }

  .footer__list-item.map:last-child {
    margin-bottom: 0;
  }

  .about__desc {
    width: 100%;
  }

  .donation__img-wrapper {
    width: 85%;
  }

  .donation__description {
    width: 100%;
  }
}

@media (max-width: 380px) {
  .pets-slider .slick-arrow {
    top: 55%;
  }
}

.webp .intro{ background: #493a34 url(../img/intro/bg-img.webp) 0 0/cover no-repeat; }

.webp .intro::after{ background: url(../img/intro/dog-header.webp) no-repeat; }

.webp .footer{ background: #493a34 url(../img/footer/bg-footer.webp) 0 0/cover no-repeat; }

.webp .footer__content::after{ background: url(../img/footer/dog-footer.webp) 0 0/100% no-repeat; }